/* ===== 기본 설정 ===== */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
   font-family: 'Nanum Gothic', sans-serif;
  overflow: hidden;
}

.main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1rem, 6vw, 2.5rem);

  white-space: nowrap;                /* 줄바꿈 금지 */
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  max-width: 100vw;
  padding: 0 1rem;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
  animation: fadeIn 1s ease-out forwards, moveUp 1s ease-in-out 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  to {
    top: 4vh;
      font-size: clamp(1rem, 4vw, 1.8rem); /* 작아지게 조정 */
    transform: translate(-50%, 0); /* 정중앙 고정 유지 */
  }
}


/* ===== 메인 내용 ===== */
main {
  opacity: 0;
  animation: showMain 1s ease-in-out 3.2s forwards;
  padding-top: 100px;
  text-align: center;
}

@keyframes showMain {
  to {
    opacity: 1;
  }
}
