body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic','Malgun Gothic','Dotum','AppleGothic','gulim',sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #6d6e71;
  background-color: #fff;
  line-height: 1.48;
  -webkit-text-size-adjust: none;
}

.container {
 width: 100%;
  max-width: 898px;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  transform: translateY(15px);
  animation: fadeInAll 1s ease-out forwards;
  box-sizing: border-box; /* 이거 무조건! */
        padding: 0 24px; /* 양옆 24px 패딩! */
}

@keyframes fadeInAll {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

 h1 {
  text-align: center;
  font-size: clamp(8px, 6vw, 28px);
  letter-spacing: 0.1em;
  color: #222;
  margin: 46px 0 16px 0;
  white-space: nowrap;
}

nav {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
   white-space: nowrap;
}

nav a {
  margin: 0 9px;
 font-size: clamp(2px, 3.5vw, 14px);
  text-decoration: none;
  color: #666;
}

nav a.on,
nav a:hover {
  font-weight: bold;
  color: #111;
}

section {
  margin-bottom: 40px;
}

p {
  margin: 0 0 10px 0;
}

.contact {
  margin-top: 45px;
  font-size: 13px;
  color: #666;
}

.email a {
  color: #0073e6;
  text-decoration: none;
}

.email a:hover {
  text-decoration: underline;
}








.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 32px 0px;
  width: 100%;
  margin: 0 auto;
  justify-items: center;
}


 /* *{
 outline: 1px solid red !important;
} */
.work-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafc;
  border-radius:10px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
  padding: 14px 10px 10px 10px;
  transition: box-shadow .22s;
  width: 100%;
  max-width: 136px;
  min-width: 0;
}

.work-item:hover {
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.10);
}
.work-item img {
  width: 136px;
  height: 136px;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 13px;
  background: #e5e5e5;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
  display: block;
}

.work-title {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  text-align: center;
  margin-bottom: 0;
}
.work-title span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #888;
  margin-top: 2px;
}


